[submodule "dnn/deps/vectorclass"]
	path = dnn/deps/vectorclass
	url = https://github.com/zamir1001/vectorclass.git
[submodule "dnn/deps/CImg"]
	path = dnn/deps/CImg
	url = https://github.com/dtschump/CImg.git
[submodule "dnn/deps/oneDNN"]
	path = dnn/deps/oneDNN
	url = https://github.com/oneapi-src/oneDNN
[submodule "dnn/deps/libjpeg-turbo"]
	path = dnn/deps/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "dnn/deps/libpng"]
	path = dnn/deps/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "dnn/deps/zlib-1.2.11"]
	path = dnn/deps/zlib-1.2.11
	url = https://github.com/madler/zlib.git
