<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Convnet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Convnet.Properties.Settings>
            <setting name="PixelSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Optimizer" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CurrentPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AdaGradEps" serializeAs="String">
                <value>1E-08</value>
            </setting>
            <setting name="AdamEps" serializeAs="String">
                <value>1E-08</value>
            </setting>
            <setting name="AdamBeta2" serializeAs="String">
                <value>0.999</value>
            </setting>
            <setting name="RMSpropEps" serializeAs="String">
                <value>1E-08</value>
            </setting>
            <setting name="DefaultLearningRateAdaGrad" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="DefaultLearningRateAdam" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="DefaultLearningRateRMSProp" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="DefaultLearningRateSGD" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="DefaultLearningRateSGDMomentum" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="DefaultMomentumAdam" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="DefaultMomentumRMSProp" serializeAs="String">
                <value>0.99</value>
            </setting>
            <setting name="Timings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdamaxEps" serializeAs="String">
                <value>1E-08</value>
            </setting>
            <setting name="AdamaxBeta2" serializeAs="String">
                <value>0.999</value>
            </setting>
            <setting name="PersistOptimizer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoToEpoch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PrioritySetter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ShowTrainingPlot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlotType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AdaDeltaEps" serializeAs="String">
                <value>1E-08</value>
            </setting>
            <setting name="RAdamEps" serializeAs="String">
                <value>1E-08</value>
            </setting>
            <setting name="RAdamBeta1" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="RAdamBeta2" serializeAs="String">
                <value>0.999</value>
            </setting>
            <setting name="DefaultMomentumSGDMomentum" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="DefinitionEditing" serializeAs="String">
                <value>[resnet-32-4-3-2-6-dropout-channelzeropad]
Dataset=CIFAR10
Dim=3,32,32
ZeroPad=4,4
RandomCrop=Yes
WeightsFiller=HeNormal
Biases=No
Momentum=0.995
Scaling=No

[C1]
Type=Convolution
Inputs=Input
Channels=96
Kernel=3,3
Pad=1,1

[B1]
Type=BatchNormRelu
Inputs=C1

[C2]
Type=Convolution
Inputs=B1
Channels=96
Kernel=3,3
Pad=1,1

[B2]
Type=BatchNormReluDropout
Inputs=C2
Dropout=0.3

[C3]
Type=Convolution
Inputs=B2
Channels=96
Kernel=3,3
Pad=1,1

[C4]
Type=Convolution
Inputs=B1
Channels=96
Kernel=1,1

[A1]
Type=Add
Inputs=C3,C4

[B5]
Type=BatchNormRelu
Inputs=A1

[C5]
Type=Convolution
Inputs=B5
Channels=96
Kernel=3,3
Pad=1,1

[B6]
Type=BatchNormReluDropout
Inputs=C5
Dropout=0.3

[C6]
Type=Convolution
Inputs=B6
Channels=96
Kernel=3,3
Pad=1,1

[A2]
Type=Add
Inputs=C6,A1

[B7]
Type=BatchNormRelu
Inputs=A2

[C7]
Type=Convolution
Inputs=B7
Channels=192
Kernel=3,3
Stride=2,2
Pad=1,1

[B8]
Type=BatchNormReluDropout
Inputs=C7
Dropout=0.3

[C8]
Type=Convolution
Inputs=B8
Channels=192
Kernel=3,3
Pad=1,1

[AVG1]
Type=AvgPooling
Inputs=A2
Kernel=3,3
Stride=2,2
Pad=1,1

[CZP1]
Type=ChannelZeroPad
Inputs=AVG1
Channels=192

[A3]
Type=Add
Inputs=C8,CZP1

[B9]
Type=BatchNormRelu
Inputs=A3

[C9]
Type=Convolution
Inputs=B9
Channels=192
Kernel=3,3
Pad=1,1

[B10]
Type=BatchNormReluDropout
Inputs=C9
Dropout=0.3

[C10]
Type=Convolution
Inputs=B10
Channels=192
Kernel=3,3
Pad=1,1

[A4]
Type=Add
Inputs=C10,A3

[B11]
Type=BatchNormRelu
Inputs=A4

[C11]
Type=Convolution
Inputs=B11
Channels=384
Kernel=3,3
Stride=2,2
Pad=1,1

[B12]
Type=BatchNormReluDropout
Inputs=C11
Dropout=0.3

[C12]
Type=Convolution
Inputs=B12
Channels=384
Kernel=3,3
Pad=1,1

[AVG2]
Type=AvgPooling
Inputs=A4
Kernel=3,3
Stride=2,2
Pad=1,1

[CZP2]
Type=ChannelZeroPad
Inputs=AVG2
Channels=384

[A5]
Type=Add
Inputs=C12,CZP2

[B13]
Type=BatchNormRelu
Inputs=A5

[C13]
Type=Convolution
Inputs=B13
Channels=384
Kernel=3,3
Pad=1,1

[B14]
Type=BatchNormReluDropout
Inputs=C13
Dropout=0.3

[C14]
Type=Convolution
Inputs=B14
Channels=384
Kernel=3,3
Pad=1,1

[A6]
Type=Add
Inputs=C14,A5

[B15]
Type=BatchNormRelu
Inputs=A6

[C15]
Type=Convolution
Inputs=B15
Channels=10
Kernel=1,1

[B16]
Type=BatchNorm
Inputs=C15

[GAP]
Type=GlobalAvgPooling
Inputs=B16

[ACT]
Type=Activation
Inputs=GAP
Activation=Softmax

[Cost]
Type=Cost
Inputs=ACT
Cost=CategoricalCrossEntropy
Channels=10</value>
            </setting>
            <setting name="DefinitionActive" serializeAs="String">
                <value>[resnet-32-4-3-2-6-dropout-channelzeropad]
Dataset=CIFAR10
Dim=3,32,32
ZeroPad=4,4
RandomCrop=Yes
WeightsFiller=HeNormal
Biases=No
Momentum=0.995
Scaling=No

[C1]
Type=Convolution
Inputs=Input
Channels=96
Kernel=3,3
Pad=1,1

[B1]
Type=BatchNormRelu
Inputs=C1

[C2]
Type=Convolution
Inputs=B1
Channels=96
Kernel=3,3
Pad=1,1

[B2]
Type=BatchNormReluDropout
Inputs=C2
Dropout=0.3

[C3]
Type=Convolution
Inputs=B2
Channels=96
Kernel=3,3
Pad=1,1

[C4]
Type=Convolution
Inputs=B1
Channels=96
Kernel=1,1

[A1]
Type=Add
Inputs=C3,C4

[B5]
Type=BatchNormRelu
Inputs=A1

[C5]
Type=Convolution
Inputs=B5
Channels=96
Kernel=3,3
Pad=1,1

[B6]
Type=BatchNormReluDropout
Inputs=C5
Dropout=0.3

[C6]
Type=Convolution
Inputs=B6
Channels=96
Kernel=3,3
Pad=1,1

[A2]
Type=Add
Inputs=C6,A1

[B7]
Type=BatchNormRelu
Inputs=A2

[C7]
Type=Convolution
Inputs=B7
Channels=192
Kernel=3,3
Stride=2,2
Pad=1,1

[B8]
Type=BatchNormReluDropout
Inputs=C7
Dropout=0.3

[C8]
Type=Convolution
Inputs=B8
Channels=192
Kernel=3,3
Pad=1,1

[AVG1]
Type=AvgPooling
Inputs=A2
Kernel=3,3
Stride=2,2
Pad=1,1

[CZP1]
Type=ChannelZeroPad
Inputs=AVG1
Channels=192

[A3]
Type=Add
Inputs=C8,CZP1

[B9]
Type=BatchNormRelu
Inputs=A3

[C9]
Type=Convolution
Inputs=B9
Channels=192
Kernel=3,3
Pad=1,1

[B10]
Type=BatchNormReluDropout
Inputs=C9
Dropout=0.3

[C10]
Type=Convolution
Inputs=B10
Channels=192
Kernel=3,3
Pad=1,1

[A4]
Type=Add
Inputs=C10,A3

[B11]
Type=BatchNormRelu
Inputs=A4

[C11]
Type=Convolution
Inputs=B11
Channels=384
Kernel=3,3
Stride=2,2
Pad=1,1

[B12]
Type=BatchNormReluDropout
Inputs=C11
Dropout=0.3

[C12]
Type=Convolution
Inputs=B12
Channels=384
Kernel=3,3
Pad=1,1

[AVG2]
Type=AvgPooling
Inputs=A4
Kernel=3,3
Stride=2,2
Pad=1,1

[CZP2]
Type=ChannelZeroPad
Inputs=AVG2
Channels=384

[A5]
Type=Add
Inputs=C12,CZP2

[B13]
Type=BatchNormRelu
Inputs=A5

[C13]
Type=Convolution
Inputs=B13
Channels=384
Kernel=3,3
Pad=1,1

[B14]
Type=BatchNormReluDropout
Inputs=C13
Dropout=0.3

[C14]
Type=Convolution
Inputs=B14
Channels=384
Kernel=3,3
Pad=1,1

[A6]
Type=Add
Inputs=C14,A5

[B15]
Type=BatchNormRelu
Inputs=A6

[C15]
Type=Convolution
Inputs=B15
Channels=10
Kernel=1,1

[B16]
Type=BatchNorm
Inputs=C15

[GAP]
Type=GlobalAvgPooling
Inputs=B16

[ACT]
Type=Activation
Inputs=GAP
Activation=Softmax

[Cost]
Type=Cost
Inputs=ACT
Cost=CategoricalCrossEntropy
Channels=10</value>
            </setting>
            <setting name="ModelNameActive" serializeAs="String">
                <value>resnet-32-4-3-2-6-dropout-channelzeropad</value>
            </setting>
            <setting name="EditSplitPositionA" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="SelectedLayer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisableLocking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditSplitPositionB" serializeAs="String">
                <value>840</value>
            </setting>
        </Convnet.Properties.Settings>
    </userSettings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.5.0" newVersion="4.6.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Humanizer" publicKeyToken="979442b78dfc278e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.35.0" newVersion="1.0.35.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.35.0" newVersion="1.0.35.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.35.0" newVersion="1.0.35.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.35.0" newVersion="1.0.35.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.5.0" newVersion="1.4.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.AnalyzerUtilities" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.2.30504" newVersion="3.3.2.30504" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="16.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Utilities.Core" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="16.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="16.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Tasks.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="16.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Engine" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="16.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
